$tas-colour-black: #302F2F;
$tas-colour-light-grey: #DDDDCC;
$tas-colour-mid-grey: #E0DDDD;
$tas-colour-pink: #E10F73;
$tas-colour-white: #FFFFFF;
$tas-colour-white-low-opacity: rgba(255, 255, 255, 0.95);
