<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>The Aviary Salon ~ Hair and Beauty ~ Leigh-on-Sea</title>
  <meta name="description" content="Providing the highest quality highlights, hair colouring, sunbed tanning, lash extensions, acrylic nails and HD brows to the beautiful people of Leigh.">
  <%= stylesheet_link_tag "site" %>
  <script type="text/javascript">var jslang='EN';</script>
  <meta name="google-site-verification" content="3VORG7kQ-fis2yytqYn-1Y7bM5iwsRSAL1SK_h-ls9Q" />
</head>
